---
import { getCollection, getEntry } from 'astro:content'
import { Image } from 'astro:assets'
import MainLayout from '../../layouts/main.astro'
import Title from '../../components/PageTitle.astro'
import { format } from 'date-fns'

const allposts = (await getCollection('posts')).sort((a, b) => 
  b.data.date.valueOf() - a.data.date.valueOf())

const allpostswithauthors = await Promise.all(allposts.map(async (post) => {
  const id = post.data.author.id
  const author = await getEntry('authors', id)

  return { ...post, author }
}))
---
<MainLayout title='BLOG'>
  <Title text='the blogs' />
  <p>
    Here are some of my thoughts and musings. I hope you find them interesting.
  </p>
  {allpostswithauthors.map(post => (
    <div class="p-4">
      <Image src={post.data.image.src} alt={post.data.image.alt} width={300} height={170} />
      <div class="">
        {post.data.tags.map((tag: string) => (
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{tag}</span>
        ))}
      </div>
      <p>{post.data.title}</p>
      <p class="">
        {post.data.blurb}
      </p>
      <div class="flex">
        <Image src={post.author.data.image.src} alt={post.author.data.image.alt} width={50} height={50} class="rounded-full" />
        <div class="pl-4">
          <p>{post.author.data.name}</p>
          <p>{format(new Date(post.data.date), 'MMMM d, yyyy')}</p>
        </div>
      </div>
    </div>
  ))}
</MainLayout>
