---
import Header from '../components/Header.astro'

const { title } = Astro.props;
---
<!doctype html>
<html class="box-border" lang="en">
	<head>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<meta charset="UTF-8" />
		<meta name="author" content="Andrew S Erwin" />
		<meta name="keywords" content="web developer, software engineer, application developer" />
		<meta name="description" content="personal website and portfolio for andrew erwin" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<footer>
		</footer>
	</body>
</html>
<style is:global>
  * {
    box-sizing: border-box;
  }

</style>
